{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home/index.css')}}">
{% endblock stylesheets %}

{% block body %}    
    <a class="prevent-select" id="options">Options</a>
    <a href="{{ path('show_challenge', {'id': 1}) }}">test</a>

    <div id="form" class="hidden">
        {# background image #}
        <img src="{{ asset('/img/misc/ancient_page_new.png') }}" alt="image of a paper sheet with blood">

        {# challenge creation form #}
        <form action="{{ path('app_randomize') }}" method="POST">

            {# exit btn #}
            <a class="prevent-select" id="close-btn">X</a>   

            {# step 1 (characters selection + boss selection) #}
            <div id="step1">

                {# characters #}
                <div id="characters">
                    <h2>Characters :</h2>

                    {# btns to check all checkboxes, none checkboxes, etc. #}
                    <div class="btns">
                        <a class="prevent-select checkall" data-action="checkall">All</a>
                        <a class="prevent-select none" data-action="checknone">None</a>
                        <a class="prevent-select">All tainted</a>
                        <a class="prevent-select">All non-tainted</a>
                    </div>

                    {# list of all existing characters #}
                    <div class="list">
                        {% for character in characters %}
                            <label class="prevent-select">
                                <input type="checkbox" name="ch_{{character.name}}" value="{{ character.id }}" class="checkbox">
                                <div class="check-btn">
                                    <img src="{{ asset('/img/characters/heads/' ~ character.name|replace({" ": "", "_": "", "&": ""}) ~ '.png') }}" alt="{{ character.name }}'s head">
                                    {{ character.name }}
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                </div>
        
                {# bosses #}
                <div id="bosses">
                    <h2>Bosses :</h2>

                    {# btns to check all checkboxes, none checkboxes, etc. #}
                    <div class="btns">
                        <a class="prevent-select checkall" data-action="checkall">All</a>
                        <a class="prevent-select none" data-action="checknone">None</a>
                    </div>

                    {# list of all existing final bosses #}
                    <div class="list">
                        {% for boss in bosses %}
                            <label class="prevent-select">
                                <input type="checkbox" name="b_{{boss.name}}" value="{{ boss.id }}" class="checkbox">
                                <div class="check-btn">
                                    <img src="{{ asset('/img/completion_marks/' ~ boss.name|replace({" ": "", "'": ""}) ~ '.webp') }}" alt="{{ boss.name }}'s completion mark">
                                    {{ boss.name }}
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                </div>

                {# next btn that display step 2 and hide step 1 #}
                <a id="next-btn" class="prevent-select">Next</a>
            </div>
    
            {# step 2 (restrictions + restrictions chance selection + submit) #}
            <div id="step2" class="hidden">

                {# restrictions #}
                <div id="restrictions">
                    <h2 class="prevent-select"><span>&lt;</span>Restrictions</h2>

                    {# btns to check all checkboxes, none checkboxes, etc. #}
                    <div class="btns">
                        <a class="prevent-select checkall" data-action="checkall">All</a>
                        <a class="prevent-select none" data-action="checknone">None</a>
                    </div>
                    
                    {# list of all existing restrictions + input of restriction chance #}
                    <div class="list">
                        <label class="prevent-select">
                            <input type="number" min="1" max="100" onkeypress="if (this.value.length > 2) return false;" name="restr_chance" step="1" value="10" maxlength="3">
                            % chance of occuring
                        </label>
                        
                        {% for restriction in restrictions %}
                            <label class="prevent-select">
                                <input type="checkbox" name="r_{{restriction.name}}" value="{{ restriction.id }}" class="checkbox">
                                <div class="check-btn">
                                    <img src="{{ asset('/img/restrictions/' ~ restriction.img) }}" alt="{{ restriction.name }} restriction image">
                                    {{ restriction.name }}
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                {# submit btn #}
                <input type="submit" name="submit" class="hidden" value="Create">
            </div>
    
        </form>
    </div>

    {# overlay behind options menu (dark bg) #}
    <div id="overlay" class="hidden"></div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/checkboxes.js')}}"></script>
    <script src="{{ asset('/js/options.js')}}"></script>
{% endblock javascripts %}
