{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home/index.css')}}">
{% endblock stylesheets %}

{% block body %}

    
    <div>
        {% if character is defined %}
            <img src="{{ asset('/img/characters/' ~ character.img)}}" alt="">
            {{ character.name }}
        {% endif %}
        <br>
        {% if boss is defined %}
            <img src="{{ asset('/img/bosses/' ~ boss.img)}}" alt="">
            {{ boss.name }}
        {% endif %}
        <br>
        {% if challRestrictions is defined and challRestrictions != null %}
            {% for restriction in challRestrictions %}
                {{ restriction[0] }}
            {% endfor %}        
        {% endif %}
    </div>

    <div id="form">
        <img src="{{asset('/img/misc/ancient_page_new.png') }}" alt="image of a paper sheet with blood">
        <form action="{{ path('app_randomize') }}" method="POST">        
            <div id="step1">
                {# characters #}
                <div id="characters">
                    <h1>Characters</h1>
                    <div class="btns">
                        <a class="prevent-select checkall-ch">All</a>
                        <a class="prevent-select none-ch">None</a>
                        <a class="prevent-select">All tainted</a>
                        <a class="prevent-select">All non-tainted</a>
                    </div>
                    <div class="list">
                        {% for character in characters %}
                            <label class="prevent-select">
                                <input type="checkbox" name="ch_{{character.name}}" value="{{ character.id }}" class="checkbox-ch">
                                {# <img src="{{ asset('/img/characters/' ~ character.name ~ '_head.png') }}" alt=""> #}
                                <div class="check-btn">
                                    <img src="{{ asset('/img/characters/isaac_head.png') }}" alt="{{ character.name }}'s head">
                                    {{ character.name }}
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                </div>
        
                {# bosses #}
                <div id="bosses">
                    <h1>Bosses</h1>
                    <div class="btns">
                        <a class="prevent-select checkall-boss">All</a>
                        <a>None</a>
                    </div>
                    <div class="list">
                        {% for boss in bosses %}
                            <label class="prevent-select">
                                <input type="checkbox" name="b_{{boss.name}}" value="{{ boss.id }}" class="checkbox-boss">
                                <div class="check-btn">
                                    <img src="{{ asset('/img/completion_marks/satan.png') }}" alt="{{ boss.name }}'s completion mark">
                                    {{ boss.name }}
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
    
            <div id="step2" class="hidden">
                {# restrictions #}
                <div id="restrictions">
                    <h1>Restrictions</h1>
                    <div>
                        {% for restriction in restrictions %}
                            <label>
                                <input type="checkbox" name="r_{{restriction.name}}" value="{{ restriction.id }}">
                                {{ restriction.name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
    
            <input type="submit" name="submit">
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/checkboxes.js')}}"></script>
{% endblock javascripts %}
