{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/login.css')}}">
{% endblock %}

{% block body %}

<form action="{{ path('oauth_discord')}}" method="POST">
    <input type="hidden" name="token" value="{{ csrf_token('discord-auth') }}"/>
    <button type="submit">
        <i class="fa-brands fa-discord"></i>
        Log in with Discord
    </button>
</form>

    {{ form_start(registrationForm) }}
        
        <h1>Register</h1>

        <div>
            {{ form_label(registrationForm.email) }}
            <div class="error">{{ form_errors(registrationForm.email) }}</div>
            {{ form_widget(registrationForm.email) }}
        </div>

        <div>
            {{ form_label(registrationForm.username) }}
            <div class="error">{{ form_errors(registrationForm.username) }}</div>
            {{ form_widget(registrationForm.username) }}
        </div>

        <div>
            <p>*1 uppercase, 1 lowercase, 1 digit, 1 special character and at least 12 characters long.</p>
            <div class="error">{{ form_errors(registrationForm.password) }}</div>
            {{ form_widget(registrationForm.password) }}
        </div>

        <button type="submit">Register</button>

        <p>Already registered ?<a href="{{path('app_login')}}">Sign in</a></p>

        
    {{ form_end(registrationForm) }}

{% endblock %}

    
{% block javascripts %}
    <script src="{{ asset('/js/register.js')}}"></script>
{% endblock javascripts %}