{% extends 'base.html.twig' %}

{% block title %}Versus list{% endblock %}

{% block body %}

    {% for v in versus %}
        <div class="href-element" data-href="{{ path('show_versus', {'id': v.id})}}">
            <p>Challenge id : <a href="{{ path('show_challenge', {'id': v.challenge.id})}}">{{ v.challenge.id }}</a></p>
            <p>Creator : {{ v.creator.username }}</p>
            <p>Time limit : {{ v.timeLimit|date('H:i:s') }}</p>
            <p>Public : {{ v.public ? 'Yes' : 'No' }}</p>
            <p>Closed : {{ v.closed ? 'Yes' : 'No'  }}</p>
            <p>Players : {{ v.players ? v.players|length : "No players yet" }}</p>
            <p>Current winner : {{ v.winner ? v.winner : "No winner yet" }}</p>
        </div>

        <br>
        <br>
    {% endfor %}

{% endblock %}
