{% extends 'base.html.twig' %}

{% block title %}Versus #{{ versus.id }}{% endblock %}

{% block metaDescription %}Versus #{{ versus.id }}, play now and join your friends or the community !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/versus/show.css')}}">
{% endblock stylesheets %}

{% block body %}

    {% set v = versus %}

    {% set c = v.challenge %}

    <a class="back-link" href="{{ path('show_challenge', {'id': c.id})}}">&lt; Challenge</a>    
    <a class="back-link" href="{{ path('show_challenge_versus', {'id': c.id})}}">&lt; Versus</a>    

    <div>
        <img src="{{ asset('/img/misc/page_blood_empty.webp')}}" alt="">

        {% if v.creator is same as(app.user) or is_granted('ROLE_ADMIN') %}
            <a class="delete-btn fa-solid fa-trash-can" href="{{ path('delete_versus', {'id': v.id}) }}"></a>
        {% endif %}

        <div id="title">
            <h1>Versus #{{ v.id }}</h1>
            <h2>By <a href="{{ path('show_user', {'id': v.creator.id}) }}">{{ v.creator.username }}</a></h2>
        </div>
        {% if (v.players|length - v.slots) <= 0 %}    
            <a href="{{ path('play_challenge', {'challengeId': c.id, 'versusId': v.id})}}">JOIN</a>
    
            <p>! You only get 1 try at the Versus' Challenge !</p>
        {% endif %}
    </div>

    <ul>
        <li class="start-date" data-date="{{ v.startDate|date() }}">
            Starts in :
            <div>
                <span id="days"></span><span>j</span>
                <span id="hours"></span><span>h</span>
                <span id="minutes"></span><span>m</span>
                <span id="seconds"></span><span>s</span>
            </div>
        </li>

        {% if v.discordChannel %}
            <li class="href-element" data-href="{{ v.discordChannel }}" data-target="_blank">
                <img src="{{ asset('/img/misc/discord_logo.webp')}}" alt="Discord Logo">
                Discord Channel
            </li>
        {% endif %}

        {% if v.endDate %}
            <li class="end-date">
                {{ v.endDate|date() }}
            </li>
        {% endif %}

        <li>
            Closed : 
            {% if v.closed %}
                <i class="fa-solid fa-check"></i>
                {% else %}  
                <i class="fa-solid fa-xmark"></i>
            {% endif %}
        </li>

        <li>Players : {{ v.players ? v.players|length : 0 ~ v.slots ? " / " ~ v.slots : "" }}</li>
        <li>Current winner : <span>{{ v.winner ? v.winner : "No winner yet" }}</span></li>       
    </ul>

    {% if v.players|length > 0 %}
        <div id="leaderboard">
            <h3>Leaderboard <i class="fa-solid fa-trophy"></i></h3>
            <ul>
                {% set nb = 1 %}

                {% for run in bestRuns %}
                    <li><span>{{ nb }}</span>
                        {{ run.completionTime|date('H:i:s') }} : {{ run.username ? run.username : "Unknown"}}<br>
                        Comment : {{ run.comment ? run.comment : 'None' }}
                    </li>

                    {% set nb = nb + 1 %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% block javascripts %}
        <script src="{{ asset('/js/versus/show.js')}}"></script>
    {% endblock javascripts %}

{% endblock %}
