{% extends 'base.html.twig' %}

{% block title %}Versus {{ versus.id }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/versus/show.css')}}">
{% endblock stylesheets %}

{% block body %}

        {% set v = versus %}

        {% set c = v.challenge %}

        <div id="challenge">
            <div id="characters">
                {% for character in c.characters %}
                    <figure class="character">
                        <img src="{{ asset('/img/characters/heads/' ~ character.name|replace({" ": "", "&": ""}) ~ '.webp') }}" alt="{{ character.name }}'s head">
                        <figcaption>{{ character.name }}</figcaption>
                    </figure>
                {% endfor %} 
            </div>
    
            <div id="bosses">
                {% for boss in c.bosses %}
                    <figure class="boss">
                        <img src="{{ asset('/img/completion_marks/' ~ boss.name|replace({" ": "", "'": ""}) ~ '.webp') }}" alt="{{ boss.name }}'s completion mark">
                        <figcaption>{{ boss.name }}</figcaption>
                    </figure>
                {% endfor %}
            </div>
    
            <div id="restrictions">
                {% for restriction in c.restrictions %}
                    <figure class="restriction">
                        <img src="{{ asset('/img/restrictions/' ~ restriction.img) }}" alt="{{ restriction.name }}'s image">
                        {{ restriction.name }}
                    </figure>
                {% endfor %} 
            </div>
        </div>

        <a href="{{ path('show_challenge', {'id': v.challenge.id})}}">Challenge</a>
        <p>Creator : <a href="{{ path('show_user', {'id': v.creator.id})}}">{{ v.creator.username }}</a></p>
        <p>Public : {{ v.public ? 'Yes' : 'No' }}</p>
        <p>Closed : {{ v.closed ? 'Yes' : 'No'  }}</p>
        <p>Players : {{ v.players ? v.players|length : 0 }} / {{ v.slots }}</p>
        {% if v.players %}
                    <ul>
                        {% for player in v.players %}
                            <li>{{ player }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No players yet</p>
                {% endif %}
        <p>Current winner : {{ v.winner ? v.winner : "No winner yet" }}</p>

        {# VERIFIER QUE L'UTILISATEUR N'A PAS DEJA JOUE AU CHALLENGE, ON PEUT QUE Y JOUER UNE FOIS ET FAIRE SON TEMPS SINON C'EST CHIANT #}
        
        <img 
            src="{{ asset('/img/text/join.webp')}}"
            class="href-element"
            data-href="{{ path('play_challenge', {'challengeId': c.id, 'versusId': v.id})}}"
            alt="Text saying JOIN">

        {% if v.players and v.players|length > 0%}
            <h2>Players : </h2>

            {% for player in v.players %}
                <div>
                    <p>Player : {{ player.user }}</p>
                    <p>Completed : {{ player.completed ? "Yes" : "No" }}</p>
                    {% if player.completed %}
                        <p>Completion time : {{ player.completionTime ? player.completionTime|date('H:i:s') : "Unknown" }}</p>
                    {% endif %}
                    <p>Play date : {{ player.playDate|date('d/m/Y H:i') }}</p>
                </div>
                <br>
                <br>
            {% endfor %}

            {% else %}

            <h2>No players yet</h2>

        {% endif %}

{% endblock %}
