{% extends 'base.html.twig' %}

{% block title %}Versus {{ versus.id }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/versus/show.css')}}">
    {% endblock stylesheets %}

{% block body %}

        {% set v = versus %}

        {% set c = v.challenge %}

        <ul>
            <h1>Versus #{{ v.id }} <a href="{{ path('show_user', {'id': v.creator.id}) }}">by {{ v.creator.username }}</a></h1>
            <li>
                Public : 
                {% if v.public %}
                    <i class="fa-solid fa-check"></i>
                    {% else %}  
                    <i class="fa-solid fa-xmark"></i>
                {% endif %}
            </li>

            <li>
                Closed : 
                {% if v.closed %}
                    <i class="fa-solid fa-check"></i>
                    {% else %}  
                    <i class="fa-solid fa-xmark"></i>
                {% endif %}
            </li>

            <li>
                Starting : {{ v.startDate|date('d:m:Y H:i:s') }}
            </li>

            {% if v.endDate %}
                <li>
                    Ending : {{ v.endDate|date('d:m:Y H:i:s') }}
                </li>
            {% endif %}

            <li>Players : {{ v.players ? v.players|length : 0 }} / {{ v.slots }}</li>
            <li>Current winner : {{ v.winner ? v.winner : "No winner yet" }}</li>       
        </ul>

        <img 
            src="{{ asset('/img/text/join.webp')}}"
            class="href-element"
            data-href="{{ path('play_challenge', {'challengeId': c.id, 'versusId': v.id})}}"
            alt="Text saying JOIN">

        <h3>! You only get 1 try at the Versus' Challenge !</h3>


        {% if v.players and v.players|length > 0%}
            <h2>Players : </h2>

            {% for player in v.players %}
                    <li>Player : {{ player.user }}</li>
                    <li>Completed : {{ player.completed ? "Yes" : "No" }}</li>
                    {% if player.completed %}
                        <li>Completion time : <span>{{ player.completionTime ? player.completionTime|date('H:i:s') : "Unknown" }}</span></li>
                    {% endif %}
                    <li>Play date : {{ player.playDate|date('d/m/Y H:i') }}</li>
                    <li>Comment : {{ player.comment ? player.comment : "None" }}</li>
                </ul>
            {% endfor %}

            {% else %}

            <h2>No players yet</h2>

        {% endif %}

{% endblock %}
