<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link href="https://fonts.cdnfonts.com/css/upheaval" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('/css/style.css')}}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <img src="{{ asset('/img/misc/navbar.png')}}" alt="Navigation bar's image">
            <ul id="desktop">

                <div id="nav-left">
                    <li>
                        <a href="{{ path('app_home') }}">Browse</a>
                    </li>
    
                    <li>
                        <a href="{{ path('app_randomize') }}">Create</a>
                    </li>
                </div>

                <a href="{{ path('app_home') }}">TBOI Challenge</a>

                <div id="nav-right">
                    {% if app.user %}
                        {# if a user is logged in #}
                        <li><a href="">Profile</a></li>
                        <li><a href="{{ path('app_logout') }}">Log off</a></li>
                    {% else %}
                        {# if no one is logged in #}
                        <li><a href="{{ path('app_login') }}">Log in</a></li>
                        <li><a href="{{ path('app_register') }}">Register</a></li>
                    {% endif %}
                </div>
            </ul>
            
        </nav>
        {% block body %}        
        {% endblock %}
    </body>
</html>
