{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home.css')}}">
{% endblock stylesheets %}

{% block body %}
    <figure>
        <img src="{{ asset('/img/text/welcome.webp')}}" alt="">
    </figure>

    <figure>
        <img src="{{ asset('/img/text/howtoplay.webp')}}" alt="">
    </figure>

    <div id="tuto">
        <img src="{{ asset('/img/tuto/step1.webp')}}" alt="">
        <img src="{{ asset('/img/tuto/step2.webp')}}" alt="">
        <img src="{{ asset('/img/tuto/step3.webp')}}" alt="">
        <img src="{{ asset('/img/tuto/step4.webp')}}" alt="">
        <img src="{{ asset('/img/tuto/step5.webp')}}" alt="">
        <img src="{{ asset('/img/tuto/bonus.webp')}}" alt="">
    </div>
{% endblock %}

{% block javascripts %}
{% endblock javascripts %}
