{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block metaDescription %}Welcome to TBOI Challenge ! The Binding of Isaac Randomizer, use the Randomizer now to play the game
or create a Challenge to save your selection !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home.css')}}">
{% endblock stylesheets %}

{% block body %}
    <figure>
        <img src="{{ asset('/img/text/welcome.webp')}}" alt="">
    </figure>

    <figure>
        <img src="{{ asset('/img/tuto/howtoplay.webp')}}" alt="">
    </figure>

    <div id="tuto">
        <img src="{{ asset('/img/tuto/new_webp/step1.webp')}}" alt="">
        <img src="{{ asset('/img/tuto/new_webp/step2.webp')}}" alt="">
        <img src="{{ asset('/img/tuto/new_webp/step3.webp')}}" alt="">
        <img src="{{ asset('/img/tuto/new_webp/step4.webp')}}" alt="">
        <img src="{{ asset('/img/tuto/new_webp/step4bis.webp')}}" alt="">
        <img src="{{ asset('/img/tuto/new_webp/step5.webp')}}" alt="">
        <img src="{{ asset('/img/tuto/new_webp/bonus.webp')}}" alt="">
    </div>
    <img src="{{ asset('/img/tuto/tutorial.webp')}}" alt="">

{% endblock %}

{% block javascripts %}
{% endblock javascripts %}
