{% extends 'base.html.twig' %}

{% block title %}TBOI Challenge - Play a challenge{% endblock %}

{% block metaDescription %}Play the challenge #{{ challenge.id }} and beat the best run !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/challenge/play.css')}}">
{% endblock %}

{% block body %}

{% set c = challenge %}


<a href="{{ path('show_challenge', {'id': challenge.id})}}">&lt; Challenge</a>

<br>

{% if versus %}
    <a href="{{ path('show_versus', {'id': versus.id})}}">&lt; Versus</a>    
{% endif %}

<div id="launchgame">
    <img src="{{ asset('/img/misc/steam_logo.webp')}}" onclick="launchSteamGame(250900)" alt="Steam logo">
    <p>Launch the game on <strong>Steam</strong></p>
</div>

<div id="text-result" class="hidden">
    {% if character is defined and boss is defined %}
        <p>
            You have to play
            <span>{{ character.name|capitalize }}</span>
            and beat
            <span>{{ boss.name|capitalize }}</span>
            {{ c.streak ? c.streak ~ " times in a row" : ""}}
        </p>

        {% if restrictions is defined and restrictions|length > 0 %}
            <ul>Restrictions :
                {% for restriction in restrictions %}
                    <li>{{ restriction.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
</div>

    <div id="page">
        
        <img src="{{ asset('/img/misc/page_blood_empty.webp')}}" alt="image of a notebook page with blood on it">

        <img id="protip" src="{{ asset('/img/tuto/completiontime_protip.webp')}}" alt="">
        
        <div id="step1">
            <div class="character">
                {# img #}
                <img class="pixelated onclick-infos-element" src="{{ asset('/img/characters/missing.webp')}}" alt="Mystery character image">

                {# characters list #}
                <div id="characters" class="onclick-infos hidden">
                    {% for character in c.characters %}
                        <figure class="character">
                            <img src="{{ asset('/img/characters/heads/' ~ character.name|replace({" ": "", "&": ""}) ~ '.webp') }}" alt="{{ character.name }}'s head">
                            <figcaption>{{ character.name }}</figcaption>
                        </figure>
                    {% endfor %} 
                </div>
            </div>

            <div class="boss">
                {# img #}
                <img class="pixelated onclick-infos-element" src="{{ asset('/img/bosses/missing.webp')}}" alt="Mystery boss image">
                
                {# bosses list #}
                <div id="bosses" class="onclick-infos hidden">
                    {% for boss in c.bosses %}
                        <figure class="boss">
                            <img src="{{ asset('/img/completion_marks/' ~ boss.name|replace({" ": "", "'": ""}) ~ '.webp') }}" alt="{{ boss.name }}'s completion mark">
                            <figcaption>{{ boss.name }}</figcaption>
                        </figure>
                    {% endfor %}
                </div>
            </div>

            <div class="restriction">
                {# img #}
                <div class="onclick-infos-element">
                    <img class="pixelated" src="{{ asset('/img/restrictions/missing.webp')}}" alt="Mystery restriction image">
                    <img class="pixelated" src="{{ asset('/img/restrictions/missing.webp')}}" alt="Mystery restriction image">
                    <img class="pixelated" src="{{ asset('/img/restrictions/missing.webp')}}" alt="Mystery restriction image">
                </div>

                {# restrictions list #}
                <div id="restrictions" class="onclick-infos hidden">
                    <p>Chances of occuring : {{c.restrictionsChance}}%</p>
                    {% for restriction in c.restrictions %}
                        <figure class="restriction">
                            <img src="{{ asset('/img/restrictions/' ~ restriction.img) }}" alt="{{ restriction.name }}'s image">
                            {{ restriction.name }}
                        </figure>
                    {% endfor %} 
                </div>
            </div>

            <img class="play-btn" src="{{ asset('/img/text/play.webp')}}" alt="The word play">
        </div>

        <div id="step2" class="hidden">
            <p class="back-btn">&lt;</p>

            <img src="{{ asset('/img/misc/reset.png')}}" alt="reset icon" onClick="window.location.reload();">

            <div id="result">
    
                <div class="character">
                    {% if character is defined %}
                        {# img #}
                        <img class="pixelated" src="{{ asset('/img/characters/' ~ character.img )}}" alt="{{ character.name }}'s image">
                        {# text img #}
                        <img src="{{ asset('/img/characters/text/' ~ character.img)}}" alt="{{ character.name }}'s name">
                    {% endif %}
                </div>
    
                <div class="boss">
            
                    {% if boss is defined %}
                        {# text img #}
                        <img src="{{ asset('/img/bosses/text/' ~ boss.img)}}" alt="{{ boss.name }}'s name">
                        {# img #}
                        <img src="{{ asset('/img/bosses/' ~ boss.img )}}" alt="{{ boss.name }}'s image">
                    {% endif %}
                </div>
    
                <div class="restrictions">
                    {% if restrictions is defined %}
                        {% for restriction in restrictions %}
                        <div>
                            {# img #}
                            <img class="onclick-infos-element" src="{{ asset('/img/restrictions/' ~ restriction.img )}}" alt="{{ restriction.name }}'s image">
                            {# infos box on click #}
                            <p class="onclick-infos hidden prevent-select">{{ restriction.name }}</p>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
    
            </div>

            <div id="win-counter"
                class="hidden"
                onclick="increment()">

                <img src="{{ asset('/img/misc/fire.webp')}}" alt="Fire image from The Binding of Isaac">
                <p></p>
            </div>

            <div id="completion-time" class="hidden">
                <p class="back-btn win" onclick="showBtns()">&lt;</p>
                
                {% if versus %}
                    {# if user came from a versus, send versusId in url parameter for WIN (action) and LOOSE (looseHref)) #}
                    {% set action = path('play_challenge', {'challengeId': c.id, 'versusId': versus.id}) %}
                    {% set looseHref = path('loose_challenge', {'challengeId': c.id, 'versusId': versus.id}) %}

                    {# make completionTime input required if user came from a versus #}
                    {% set required = 'required' %}
                {% else %}
                    {# else, no change #}
                    {% set action = path('play_challenge', {'challengeId': c.id}) %}
                    {% set looseHref = path('loose_challenge', {'challengeId': c.id}) %}

                    {% set required = false %}
                    {% endif %}

                {{ form_start(playChallengeForm, {'action': action}) }}


                {{ form_row(
                    playChallengeForm.completionTime,
                    {
                        'attr': {
                            'required': required
                        },
                        'label': 'Completion time' ~ (versus ? "" : " (Optionnal)")
                    }
                ) }}
                

                {{ form_row(playChallengeForm.comment) }}
                {{ form_row(playChallengeForm.submit)}}

                {{ form_end(playChallengeForm)}}
            </div>
            <div id="btns">
                <img src="{{ asset('img/text/win.webp')}}"
                    onclick="increment()"
                    alt="The word WIN">
                    
                <img src="{{ asset('img/text/loose.webp')}}"
                    class="href-element"
                    data-href="{{ looseHref }}"
                    alt="The word LOOSE">
            </div>

        </div>
    </div>

    <div id="overlay" class="hidden"></div>
    <p class="hidden" id="challenge-streak">{{ c.streak }}</p>

{% endblock %}

{% block javascripts %}
        <script src="{{ asset('/js/challenge/play.js')}}"></script>
{% endblock javascripts %}
