{% extends 'base.html.twig' %}

{% block title %}Play a challenge{% endblock %}

{% block metaTag %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/challenge/play.css')}}">
    {% endblock %}

{% block body %}

<a href="{{ path('show_challenge', {'id': challenge.id})}}">&lt; Challenge</a>


    <div id="page">
        
        <img src="{{ asset('/img/misc/page_blood_empty.webp')}}" alt="image of a notebook page with blood on it">

        
        <div>
            <img src="{{ asset('/img/misc/reset.png')}}" data-href="" class="href-element" alt="reset icon" onClick="window.location.reload();">

            <div id="result">
    
                <div id="character">
                    {% if character is defined %}
                        {# img #}
                        <img class="pixelated" src="{{ asset('/img/characters/' ~ character.img )}}" alt="{{ character.name }}'s image">
                        {# text img #}
                        <img src="{{ asset('/img/characters/text/' ~ character.img)}}" alt="{{ character.name }}'s name">
                    {% endif %}
                </div>
    
                <div id="boss">
            
                    {% if boss is defined %}
                        {# text img #}
                        <img src="{{ asset('/img/bosses/text/' ~ boss.img)}}" alt="{{ boss.name }}'s name">
                        {# img #}
                        <img src="{{ asset('/img/bosses/' ~ boss.img )}}" alt="{{ boss.name }}'s image">
                    {% endif %}
                </div>
    
                <div id="restrictions">
                    {% if restrictions is defined %}
                        {% for restriction in restrictions %}
                        <div>
                            {# img #}
                            <img src="{{ asset('/img/restrictions/' ~ restriction.img )}}" alt="{{ restriction.name }}'s image">
                            {# infos box on hover #}
                            <p class="hover-infos hidden prevent-select">{{ restriction.name }}</p>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
    
            </div>

            <div id="win-counter"
                class="hidden"
                onclick="increment()">

                <img src="{{ asset('/img/misc/fire.webp')}}" alt="Fire image from The Binding of Isaac">
                <p></p>
            </div>

            <div id="completion-time" class="hidden">
                <p onclick="showBtns()">&lt;</p>
                {{ form_start(playChallengeForm, {'action': path('play_challenge', {'id': challenge.id})})}}

                {{ form_row(playChallengeForm.completionTime)}}
                {{ form_row(playChallengeForm.submit)}}

                {{ form_end(playChallengeForm)}}
            </div>
            <div id="btns">
                <img src="{{ asset('img/text/win.webp')}}"
                    onclick="increment()"
                    alt="The word WIN">
                    
                <img src="{{ asset('img/text/loose.webp')}}"
                    class="href-element"
                    data-href="{{ path('loose_challenge', {'id': challenge.id}) }}"
                    alt="The word LOOSE">
            </div>

        </div>
    </div>

    <div id="overlay" class="hidden"></div>
    <p class="hidden" id="challenge-streak">{{ challenge.streak }}</p>

{% endblock %}

{% block javascripts %}
        <script src="{{ asset('/js/challenge/play.js')}}"></script>
{% endblock javascripts %}
