{% extends 'base.html.twig' %}

{% block title %}Challenge details{% endblock %}

{% block metaTag %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/challenge/show.css')}}">
{% endblock %}

{% block body %}

    {% if app.user %}
        {% if liked %}
            <img class="like href-element"
            data-href="{{ path('like_challenge', {'id': challenge.id}) }}"
            src="{{ asset('/img/misc/heart.png')}}"
            alt="">   

            {% else %}
            <img class="like href-element"
            data-href="{{ path('like_challenge', {'id': challenge.id}) }}"
            src="{{ asset('/img/misc/empty_heart.png')}}"
            alt="">            

        {% endif %}
    {% endif %}


    

    <div>
        <img src="{{ asset('img/text/play.webp')}}"
            class="href-element" 
            data-href="{{ path('play_challenge', {'challengeId': challenge.id}) }}"
            alt="The word PLAY">

        <br>
        {% if app.user %}
            <img src="{{ asset('img/text/versus.webp')}}"
                class="href-element" 
                data-href="{{ path('new_versus', {'id': challenge.id})}}"
                alt="The word VERSUS">
        {% endif %}
    </div>

    <div>
        <p>{{ challenge.players|length }} runs</p>
        <p>{{ (winners|length / (challenge.players|length / 100))|number_format(2) }}% Win rate</p>
        <p>{{ winners|length }} wins</p>
        <p>{{ challenge.players|length - winners|length }} pathetics loosers</p>
        <p>Best runs : </p>
        <ul>
            {% for run in bestsRuns %}
                <li>
                    {{ run.completionTime|date('H:i:s') }} by {{ run.username }}<br>
                    Comment : {{ run.comment ? run.comment : 'None' }}
                </li>
            {% endfor %}
        </ul>
    </div>

    {% set c = challenge %}

        <div id="challenge">
            {# characters #}
            <div class="container">
                {# CHARACTERS text #}
                <span class="length-span">{{ c.characters|length }}</span> &nbsp;
                <img src="{{ asset('/img/text/characters.webp')}}" class="onclick-infos-element" alt="Text saying characters">
                {# characters list #}
                <div id="characters" class="onclick-infos hidden">
                    {% for character in c.characters %}
                        <figure class="character">
                            <img src="{{ asset('/img/characters/heads/' ~ character.name|replace({" ": "", "&": ""}) ~ '.webp') }}" alt="{{ character.name }}'s head">
                            <figcaption>{{ character.name }}</figcaption>
                        </figure>
                    {% endfor %} 
                </div>
            </div>

            {# bosses #}
            <div class="container">
                {# BOSSES text #}
                <span class="length-span">{{ c.bosses|length }}</span>&nbsp;
                <img src="{{ asset('/img/text/bosses.webp')}}" class="onclick-infos-element" alt="Text saying bosses">
                {# bosses list #}
                <div id="bosses" class="onclick-infos hidden">
                    {% for boss in c.bosses %}
                        <figure class="boss">
                            <img src="{{ asset('/img/completion_marks/' ~ boss.name|replace({" ": "", "'": ""}) ~ '.webp') }}" alt="{{ boss.name }}'s completion mark">
                            <figcaption>{{ boss.name }}</figcaption>
                        </figure>
                    {% endfor %}
                </div>
            </div>

            {# restrictions #}
            <div class="container">
                {# RESTRICTIONS text #}
                <span class="length-span">{{ c.restrictions|length }}</span>&nbsp;
                <img src="{{ asset('/img/text/restrictions.webp')}}" class="onclick-infos-element" alt="Text saying restrictions">
                {# restrictions list #}
                <div id="restrictions" class="onclick-infos hidden">
                    <p>Chances of occuring : {{c.restrictionsChance}}%</p>
                    {% for restriction in c.restrictions %}
                        <figure class="restriction">
                            <img src="{{ asset('/img/restrictions/' ~ restriction.img) }}" alt="{{ restriction.name }}'s image">
                            {{ restriction.name }}
                        </figure>
                    {% endfor %} 
                </div>
            </div>
        </div>
        
        {% if c.streak %}
            <p>Win-streak : {{ c.streak }}</p>
        {% endif %}

        <div id="versus">
            <p>Versus on this challenge : (Total : {{ challenge.versus|length }})</p>

            {% for versus in challenge.versus %}
            <div class="href-element" data-href="{{ path('show_versus', {'id': versus.id})}}">
                <p>id : {{ versus.id }}</p>
                <p>creator : {{ versus.creator.username }}</p>
            </div>
            
            {% endfor %}
        </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/challenge/show.js')}}"></script>
{% endblock javascripts %}
