{% extends 'base.html.twig' %}

{% block title %}Challenge details{% endblock %}

{% block metaTag %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/challenge/show.css')}}">
{% endblock %}

{% block body %}

    {# <div id="page">
        
        <img src="{{ asset('/img/misc/page_blood_empty.webp')}}" alt="image of a notebook page with blood on it">

    </div> #}

    <div>
        {% for player in challenge.players %}
            {{ player|raw }}<br>
        {% endfor %}
    </div>

    <div>
        <img src="{{ asset('img/text/play.webp')}}"
            class="href-element" 
            data-href="{{ path('play_challenge', {'id': challenge.id}) }}"
            alt="The word PLAY">
    </div>

    <div id="infos">

        <div id="characters">
            {% for character in challenge.characters %}

                <div>
                    {# img #}
                    <img src="{{ asset('/img/characters/' ~ character.img )}}" alt="{{ character.name }}'s image">
                    {# infos box on hover #}
                    <p>{{ character.name }}</p>
                </div>

            {% endfor %}
        </div>

        <div id="bosses">
            {% for boss in challenge.bosses %}
                <div>
                    {# img #}
                    <img src="{{ asset('/img/completion_marks/' ~ boss.img) }}" alt="{{ boss.name }}'s completion mark">
                    {# infos box on hover #}
                    <p>{{ boss.name }}</p>
                </div>
            {% endfor %}
        </div>

        <div id="restrictions">
            {% for restriction in challenge.restrictions %}
                <div>
                    {# img #}
                    <img src="{{ asset('/img/restrictions/' ~ restriction.img )}}" alt="{{ restriction.name }}'s image">
                    {# infos box on hover #}
                    <p>{{ restriction.name }}</p>
                </div>
            {% endfor %}

            <p>Restrictions chance : {{ challenge.restrictionsChance }}%</p>
        </div>        

        <div id="streak">
            {% if challenge.streak is defined %}
                <p>Win-streak : {{ challenge.streak }}</p>
            {% endif %}
        </div>
       
    </div>

{% endblock %}

{% block javascripts %}
    {# <script src="{{ asset('/js/challenge/play.js')}}"></script> #}
{% endblock javascripts %}
