{% extends 'base.html.twig' %}

{% block title %}Challenge details{% endblock %}

{% block metaDescription %}Challenge #{{ challenge.id }}, play it now or <strong>challenge</strong> your friends
by creating a <strong>versus</strong> !{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/challenge/show.css')}}">
{% endblock %}

{% block body %}

    <a class="back-link" href="{{ path('challenges')}}">&lt; Community Challenges</a>    

    <div id="challenge">
        <img src="{{ asset('/img/misc/page_blood_empty.webp')}}" alt="">

        {% if challenge.creator is same as(app.user) or is_granted('ROLE_ADMIN') %}
            <a class="fa-solid fa-trash-can delete-btn" href="{{ path('delete_challenge', {'id': challenge.id}) }}"></a>
        {% endif %}

        {% if app.user %}
            {% if liked %}
                <img class="like href-element"
                data-href="{{ path('like_challenge', {'id': challenge.id}) }}"
                src="{{ asset('/img/misc/heart.png')}}"
                alt="Red heart">   

            {% else %}
                <img class="like href-element"
                data-href="{{ path('like_challenge', {'id': challenge.id}) }}"
                src="{{ asset('/img/misc/empty_heart.png')}}"
                alt="Empty heart">

            {% endif %}
        {% endif %}

        <div id="title">
            <h1>Challenge #{{ challenge.id }}</h1>
            <h2>By <a href="{{ path('show_user', {'id': challenge.creator.id})}}">{{ challenge.creator.username }}</a></h2>
        </div>

        <div id="btns">
            <a href="{{ path('play_challenge', {'challengeId': challenge.id}) }}">Play</a>
    
            {% if app.user %}
                <a href="{{ path('show_challenge_versus', {'id': challenge.id})}}">Versus</a>
            {% endif %}
        </div>
    </div>

    {% if challenge.players|length > 0 %}
        <div id="leaderboard">
            <h3>Leaderboard <i class="fa-solid fa-trophy"></i></h3>
            <ul>
                {% set nb = 1 %}

                {% for run in bestRuns %}
                    <li><span>{{ nb }}</span>
                        {{ run.completionTime|date('H:i:s') }} : {{ run.username ? run.username : "Unknown"}}<br>
                        Comment : {{ run.comment ? run.comment : 'None' }}
                    </li>

                    {% set nb = nb + 1 %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div id="chall-details">
        {% set c = challenge %}
            
        {% if c.streak %}
            <p>Win-streak : {{ c.streak }}</p>
        {% endif %}

        <div id="characters">
            <h4>Characters :</h4>
            {% for character in c.characters %}
                <img 
                    src="{{ asset('/img/characters/' ~ character.img)}}"
                    alt="Image of {{character.name}}"
                    class="character">
            {% endfor %}
        </div>
    
        <div id="bosses">
            <h4>Bosses :</h4>
            {% for boss in c.bosses %}
                <img
                    src="{{ asset('/img/bosses/' ~ boss.img) }}"
                    alt="{{ boss.name }}'s completion mark"
                    class="boss">
            {% endfor %}
        </div>

            <div id="restrictions">
                <h4>Restrictions :</h4>

                {% if c.restrictions|length < 1 %}
                    <h5>None</h5>

                    {% else %}

                    {% for restriction in c.restrictions %}
                    <img
                        src="{{ asset('/img/restrictions/' ~ restriction.img) }}"
                        alt="{{ restriction.name }}'s image"
                        class="restriction">
                    {% endfor %}
                {% endif %}
            </div>
    </div>



{% endblock %}

{% block javascripts %}
    {# <script src="{{ asset('/js/challenge/show.js')}}"></script> #}
{% endblock javascripts %}
