{% extends 'base.html.twig' %}

{% block title %}Play a challenge{% endblock %}

{% block metaTag %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <div>
        {% if character != null %}
            <figure>
                <img src="{{ asset('/img/characters/' ~ character.img) }}" alt="{{ character.name }}'s image">
                <figcaption>{{ character.name }}</figcaption>
            </figure>    
        {% endif %}

        {% if boss != null %}
            <figure>
                <img src="{{ asset('/img/bosses/' ~ boss.img) }}" alt="{{ boss.name }}'s image">
                <figcaption>{{ boss.name }}</figcaption>
            </figure>    
        {% endif %}

        {% if restrictions != null %}
            {% for restriction in restrictions %}
                {{ restriction[0] }}
            {% endfor %}   
        {% endif %}
    </div>

{% endblock %}
