{% extends 'base.html.twig' %}

{% block title %}Play a challenge{% endblock %}

{% block metaTag %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <div>
        {% for character in challenge.characters %}
            <img src="{{ asset('/img/characters/' ~ character.img) }}" alt="{{ character.name }}'s image">
            {{ character.name }}
        {% endfor %}
    </div>
    <div>
        {% for boss in challenge.bosses %}
            <img src="{{ asset('/img/bosses/' ~ boss.img) }}" alt="{{ boss.name }}'s image">
            {{ boss.name }}
        {% endfor %}
    </div>
    <div>
        {% for restriction in challenge.restrictions %}
            <img src="{{ asset('/img/restrictions/' ~ restriction.img) }}" alt="{{ restriction.name }}'s image">
            {{ restriction.name }}
        {% endfor %}
    </div>

{% endblock %}
