{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}'s profile{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/user_profile.css')}}">
{% endblock %}

{% block body %}

    <h1>
        <img src="{{ asset('/img/user_icons/' ~ user.icon) }}" alt="">
        {{ user }}
    </h1>
    
    <h2>Member since {{ user.registrationDate|date('d/m/Y') }}</h2>

    <ul>
        <li>Challenge played : {{ user.challengesPlayed|length }}</li>

        {% if user.challengesPlayed|length > 0 %}
            <li>Win rate : {{ challengeWinRate }}%</li>
        {% endif %}

        <li id="user-challenges">Challenges created ({{ user.challengesCreated|length }})</li>
        <li>Versus played : {{ user.versusPlayed|length }}</li>

        {% if user.versusPlayed|length > 0 %}
            <li>Versus Win rate : {{ versusWinRate }}%</li>
        {% endif %}

        {% if user.winStreak and user.winStreak > 0 %}
            <li>Current win streak : {{ user.winStreak }}</li>
        {% endif %}

        {% if user.bestWinStreak and user.bestWinStreak > 0 %}
            <li>Best win streak : {{ user.bestWinStreak }}</li>
        {% endif %}
    </ul>

    {% if user.discord %}
        <img src="{{ asset('/img/misc/discord_logo.webp')}}" class="href-element" data-href="" alt="Discord logo">
    {% endif %}

    {% if user.twitch %}
        <img src="{{ asset('/img/misc/twitch_logo.webp')}}" class="href-element" data-href="" alt="Twitch logo">
    {% endif %}

    <div id="challs-container">
        {% if challengesCreated|length > 0 %}
            <div id="chall-created">
                <h2>Challenges created : </h2>
                {% for c in challengesCreated %}
                    <ul class="challenge href-element" data-href="{{ path('show_challenge', {'id': c.id}) }}">
                        <li>Challenge #{{ c.id }}</li>
                        <li>{{ c.characters|length }} characters</li>
                        <li>{{ c.bosses|length }} bosses</li>
                        <li>{{ c.restrictions|length }} restrictions</li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
    
        {# SHOW CHALLENGES LIKED IF USER PROFILE IS THE CURRENTLY LOGGED IN USER #}
        {% if user == app.user %}
            {% if challengesLiked|length > 0 %}
                <div id="chall-liked">
                    <h2>Challenges liked : </h2>
                    {% for c in challengesLiked %}
                        <ul class="challenge href-element" data-href="{{ path('show_challenge', {'id': c.id}) }}">
                            <li>Challenge #{{ c.id }} <span>by {{ c.creator.username }}</span></li>
                            <li>{{ c.characters|length }} characters</li>
                            <li>{{ c.bosses|length }} bosses</li>
                            <li>{{ c.restrictions|length }} restrictions</li>
                        </ul>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>

    
    
{% endblock %}
