{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}'s profile{% endblock %}

{% block metaDescription %}{{ user.username }}'s profile, member since {{ user.registrationDate|date('d/m/Y') }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/user_profile.css')}}">
{% endblock %}

{% block body %}

    {% if user is same as(app.user) or is_granted('ROLE_ADMIN') %}
        <a class="delete-btn" href="{{ path('delete_user', {'id': user.id}) }}"><i class="fa-solid fa-trash-can"></i></a>
    {% endif %}

    {% if user is same as(app.user) and user.discordId is null %}    
        <a href="{{ path('edit_profile')}}">edit profile</a>
    {% endif %}


    <h1>
        <img src="{{ asset('/img/user_icons/' ~ user.icon) }}" alt="">
        {{ user }}
    </h1>
    
    <h2>Member since {{ user.registrationDate|date('d/m/Y') }}</h2>

    <table>
        <tr>
            <td>Challenge played :</td>
            <td>{{ user.challengesPlayed|length }}</td>
        </tr>
    
        {% if user.challengesPlayed|length > 0 %}
            <tr>
                <td>Win rate :</td>
                <td>{{ challengeWinRate }}%</td>
            </tr>
        {% endif %}
    
        <tr>
            <td>Versus played :</td>
            <td>{{ user.versusPlayed|length }}</td>
        </tr>
    
        {% if user.versusPlayed|length > 0 %}
            <tr>
                <td>Versus Win rate :</td>
                <td>{{ versusWinRate }}%</td>
            </tr>
        {% endif %}
    
        {% if user.winStreak and user.winStreak > 0 %}
            <tr>
                <td>Current win streak :</td>
                <td>{{ user.winStreak }}</td>
            </tr>
        {% endif %}
    
        {% if user.bestWinStreak and user.bestWinStreak > 0 %}
            <tr>
                <td>Best win streak :</td>
                <td>{{ user.bestWinStreak }}</td>
            </tr>
        {% endif %}
    </table>

    {% if user.discord %}
        <figure class="social">
            <img src="{{ asset('/img/misc/discord_logo.webp')}}" class="href-element" data-href="" alt="Discord logo">
            <figcaption>@{{ user.discord }}</figcaption>
        </figure>
    {% endif %}

    {% if user.twitch %}
        <figure class="social">
            <img src="{{ asset('/img/misc/twitch_logo.webp')}}" class="href-element" data-href="" alt="Twitch logo">
            <figcaption>@{{ user.twitch }}</figcaption>
        </figure>
    {% endif %}

    <div id="challs-container">
        {% if challengesCreated|length > 0 %}
            <div id="chall-created">
                <h2>Challenges created : (&nbsp;{{ challengesCreated|length }}&nbsp;)</h2>
                {% for c in challengesCreated %}
                    <ul class="challenge href-element" data-href="{{ path('show_challenge', {'id': c.id}) }}">
                        <li>Challenge #{{ c.id }}</li>
                        <li>{{ c.characters|length }} characters</li>
                        <li>{{ c.bosses|length }} bosses</li>
                        <li>{{ c.restrictions|length }} restrictions</li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
    
        {# SHOW CHALLENGES LIKED IF USER PROFILE IS THE CURRENTLY LOGGED IN USER #}
        {% if user == app.user %}
            {% if challengesLiked|length > 0 %}
                <div id="chall-liked">
                    <h2>Challenges liked : (&nbsp;{{ challengesLiked|length }}&nbsp;)</h2>
                    {% for c in challengesLiked %}
                        <ul class="challenge href-element" data-href="{{ path('show_challenge', {'id': c.id}) }}">
                            <li>Challenge #{{ c.id }} <span>by {{ c.creator.username }}</span></li>
                            <li>{{ c.characters|length }} characters</li>
                            <li>{{ c.bosses|length }} bosses</li>
                            <li>{{ c.restrictions|length }} restrictions</li>
                        </ul>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>

    
    
{% endblock %}
